[Unit]
Description=Service Inventory SCI
After=network.target

[Service]
User=root
WorkingDirectory=/opt/service/sci/service-inventory

ExecStart=/opt/service/sci/service-inventory/start.sh

Restart=always
RestartSec=5
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target